<!DOCTYPE html>
<html lang="es">
   <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../img/logo-celtics.png">
        <title>Boston Celtics</title>
        <link rel="stylesheet" href="../css/estilos.css">
   </head>
<!--BODY-->
   <body>
                                                            <!--HEADER-->
      <header>
         <nav>
               <a href="../index.html">
                  <img src="../img/logo-celtics.png" alt="logo-celtics" class="logo-celtics" width="2100" height="2333">
               </a>
               <ul>
                  <li><a class="home" href="../index.html">HOME</a></li>
                  <li><a class="galeria activo" href="productos.html">GALERIA</a></li>
                  <li><a class="presupuesto" href="presupuesto.html">PRESUPUESTO</a></li>
                  <li><a class="contacto" href="contacto.html">CONTACTO</a></li>
               </ul>
         </nav>
      </header>
      <main>
                                                            <!--ULTIMOS RESULTADOS-->
        <section id="ult-resultados">
            <h2 class="titulos-ocultos">Ultimos Resultados</h2>
            <div class="fila">
                                                               <!--PARTIDO 1-->
               <article class="partidos">
                  <h2 class="titulos-ocultos">Partido 1</h2>
                  <img src="../img/logo-celtics.png" alt="Celtics" class="logo-articulo"  width="2100" height="2333">
                  <p class="resultado"><span class="team">126</span> - <span class="team">105</span></p>
                  <img src="../img/logo-lakers.png" alt="Lakers" class="logo-articulo" width="2400" height="1600">
               </article>
                                                               <!--PARTIDO 2-->      
               <article class="partidos">
                  <h2 class="titulos-ocultos">Partido 2</h2>
                  <img src="../img/logo-celtics.png" alt="Celtics" class="logo-articulo" width="2100" height="2333">
                  <p class="resultado"><span class="team">121</span> - <span class="team">113</span></p>
                  <img src="../img/logo-golden-state-warriors.png" alt="Golden State Warriors" class="logo-articulo" width="800" height="600">
               </article>
                                                               <!--PARTIDO 3-->
               <article class="partidos">
                  <h2 class="titulos-ocultos">Partido 3</h2>
                  <img src="../img/logo-celtics.png" alt="Celtics" class="logo-articulo" width="2100" height="2333">
                  <p class="resultado"><span class="team">101</span> - <span class="team">116</span></p>
                  <img src="../img/logo-bulls.png" alt="Bulls" class="logo-articulo" width="800" height="600">
               </article>
                                                               <!--PARTIDO 4-->
               <article class="partidos">
                  <h2 class="titulos-ocultos">Partido 4</h2>
                  <img src="../img/logo-celtics.png" alt="Celtics" class="logo-articulo" width="2100" height="2333">
                  <p class="resultado"><span class="team">105</span> - <span class="team">112</span></p>
                  <img src="../img/logo-knicks.png" alt="Knicks" class="logo-articulo" width="2400" height="2000">
               </article>
               <div class="linea-vertical"></div>
                                                      <!--INFO CELTICS CLASIFICACION-->
               <ul>
                  <li>
                        Posicion en la Conferencia Este: <span class="body-span">2º</span>
                  </li>
                  <li>
                        Record de la Temporada: <span class="body-span">26-16</span>
                  </li>
                  <li>
                        Proximo Partido: <span class="body-span">vs Indiana Pacers, 3 Feb</span>
                  </li>
               </ul>
            </div>
         </section>
                                                               <!--SLIDER-->
         <section class="slider-sec"> 
               <h2 class="titulos-ocultos">Carrusel de Imagenes</h2>
            <div class="slider-box">
               <ul>
                  <li>
                     <img src="../img/foto-slider1.gif" alt="slider 1" class="img-carrusel" width="480" height="480">
                  </li>
                  <li>
                     <img src="../img/foto-slider2.webp" alt="slider 2" class="img-carrusel" width="1440" height="1440">
                  </li>
                  <li> 
                     <img src="../img/foto-slider3.jpg" alt="slider 3" class="img-carrusel" width="703" height="503">
                  </li>
                  <li>
                     <img src="../img/foto-slider4.jpg" alt="slider 4" class="img-carrusel" width="736" height="1072">
                  </li>
               </ul>
            </div>
         </section>
                                                         <!--GALERIA PRINCIPAL-->
         <section class="grid-container1">
            <h2 class="titulos-ocultos">Galeria Principal</h2>
            <div class="item-a">
               <img src="../img/galeria1.jpg" alt="imagen 01" class="galeria-grid img" width="606" height="1077"> 
            </div>
            <div>
               <img src="../img/galeria2.jpg" alt="imagen 02" class="galeria-grid img" width="736" height="920"> 
            </div>
            <div class="item-b">
               <img src="../img/galeria3.jpg" alt="imagen 03" class="galeria-grid img" width="1920" height="1080"> 
            </div>
            <div>
               <img src="../img/galeria4.jpg" alt="imagen 04" class="galeria-grid img" width="735" height="560"> 
            </div>
            <div class="item-c">
               <img src="../img/galeria5.jpg" alt="imagen 05" class="galeria-grid img" width="736" height="1308"> 
            </div>
            <div>
               <img src="../img/galeria6.jpg" alt="imagen 06" class="galeria-grid img" width="736" height="920">
            </div>
            <div>
               <img src="../img/galeria7.jpg" alt="imagen 07" class="galeria-grid img" width="1062" height="1295"> 
            </div>
            <div class="item-d">
               <img src="../img/galeria8.jpg" alt="imagen 08" class="galeria-grid img" width="736" height="524"> 
            </div>
         </section>
                                                         <!--GALERIA LEYENDAS-->
         <section class="grid-container2">
            <h2 class="titulos-ocultos">Galeria Leyendas</h2>
            <div>
               <img src="../img/galeria9.jpg" alt="imagen 09" class="galeria-grid img" width="736" height="920"> 
            </div>
            <div>
               <img src="../img/galeria10.jpg" alt="imagen 10" class="galeria-grid img" width="720" height="960">
            </div>
            <div>
               <img src="../img/galeria11.jpg" alt="imagen 11" class="galeria-grid img" width="736" height="920"> 
            </div>
            <div>
               <img src="../img/galeria12.jpg" alt="imagen 12" class="galeria-grid img" width="316" height="400"> 
            </div>
            <div>
               <img src="../img/galeria13.jpg" alt="imagen 13" class="galeria-grid img" width="736" height="1308"> 
            </div>
            <div>
               <img src="../img/galeria14.jpg" alt="imagen 14" class="galeria-grid img" width="736" height="1283"> 
            </div>
         </section>
                                                         <!--GALERIA ESTADIO-->
         <section class="grid-container3">
            <h2 class="titulos-ocultos">Galeria Estadio</h2>
            <div class="item-a">
               <img src="../img/galeria15.jpg" alt="imagen 15" class="galeria-grid img" width="736" height="1308"> 
            </div>
            <div>
               <img src="../img/galeria16.jpg" alt="imagen 16" class="galeria-grid img" width="736" height="920">
            </div>
            <div class="item-e">
               <img src="../img/galeria17.jpg" alt="imagen 17" class="galeria-grid img" width="735" height="436"> 
            </div>
            <div>
               <img src="../img/galeria18.jpg" alt="imagen 18" class="galeria-grid img" width="736" height="981"> 
            </div>
            <div>
               <img src="../img/galeria19.jpg" alt="imagen 19" class="galeria-grid img" width="736" height="736"> 
            </div>
            <div class="item-e">
               <img src="../img/galeria20.jpg" alt="imagen 20" class="galeria-grid img" width="735" height="490">
            </div>
            <div>
               <img src="../img/galeria21.jpg" alt="imagen 21" class="galeria-grid img" width="736" height="920">
            </div>
            <div>
               <img src="../img/galeria22.jpg" alt="imagen 22" class="galeria-grid img" width="735" height="535">
            </div>
            <div>
               <img src="../img/galeria23.jpg" alt="imagen 23" class="galeria-grid img" width="736" height="489">
            </div>
         </section>
      </main>
                                                            <!--FOOTER-->
      <footer>
         <p class="p1">Síguenos en nuestras redes sociales:</p>
            <a href="https://www.twitter.com/bostonceltics/"><img src="../img/twitter.png" alt="twitter" class="twitter" width="512" height="512"></a>
            <a href="https://www.instagram.com/celtics/"><img src="../img/instagram.png" alt="instagram icons" class="instagram" width="512" height="512"></a>
            <a href="https://www.tiktok.com/@celtics/"><img src="../img/tik-tok.png" alt="tiktok" class="tiktok" width="512" height="512"></a>
            <a href="https://www.youtube.com/bostonceltics/"><img src="../img/youtube.png" alt="youtube" class="youtube" width="512" height="512"></a>
         <p class="aviso-legal">Aviso Legal</p>
         <p class="direccion-empresa">Direccion: 100 Legends Way, Boston, USA</p>
      </footer>
   </body>
</html>
      
      